header{
    background-color: rgb(71, 211, 129);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    font-family: cursive;
    font-size: 150%;
    text-align: center;
}
header img {
    width: 200px;
    transition:0.5s;
    &:hover{
        scale: 105%;
        background-color: #00ffff6e;
        border-radius: 10px;
        transition:0.5s;
    }
}

a {
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-align: right;
    padding: 10px 15px;
    margin: 5px;
    transition: 0.5s;
}
nav a:hover{
    color:rgb(255, 255, 255);
    background-color:#00ffff6e;
    border-radius: 10px;
    padding: 10 15px;
    transition: 0.5s;
}
nav{
    padding: 10px 0px;
}
.banner{
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
